@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    font-family: "Lato", sans-serif;
    font-style: normal;
}
/* header section style starts here */
.header-container {
    width: 100%;
    margin: 0 auto;
    background: rgba(229, 84, 115, 0.1);
}
.header-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0;
}
.header-text-content {
    width: 60%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header-text-content h1 {
    color: rgb(39, 39, 39);
    font-family: Lato;
    font-size: 80px;
    font-weight: 800;
    line-height: 96px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 100px;
    margin-bottom: 32px;
}
.header-text-content p {
    color: rgba(39, 39, 39, 0.6);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 0;
    margin-bottom: 32px;
}
.header-text-content button {
    width: 177px;
    height: 64px;
    padding: 20px 43px 20px 43px;
    border-radius: 8px;
    background: rgb(229, 84, 115);
    margin-top: 0;
    margin-bottom: 80px;
    border: none;
}
.header-img-content {
    width: 37%;
    margin: 0;
    display: flex;
    align-items: flex-end;
}
.header-img-content img {
    width: 100%;
    height: 93%;
}
/* header section style ends here */

/* featured section style starts here */
.featured-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    margin-top: 100px;
}
.featured-container h1 {
    color: rgb(39, 39, 39);
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 0;
    margin-bottom: 24px;
}
.featured-container p {
    color: rgba(39, 39, 39, 0.6);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 0;
    margin-bottom: 48px;
}
.featured-items {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 0;
}
.featured-items p {
    color: rgb(39, 39, 39);
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0%;
    text-align: center;
    text-decoration-line: underline;
    margin-top: 32px;
    margin-bottom: 0;
}
.featured {
    width: 32%;
    height: auto;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.featured-card {
    width: 100%;
    height: 500px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}
.flex-end {
    align-items: flex-end;
}
.flex-center {
    align-items: center;
}
.featured-card-1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}
.featured-card-2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}
.featured-card-3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}
/* featured section style ends here */
