@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    font-family: "Lato", sans-serif;
    font-style: normal;
}
/* header section style starts here */
.header-container {
    width: 100%;
    margin: 0 auto;
    background: rgba(229, 84, 115, 0.1);
}
.header-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0;
}
.header-text-content {
    width: 60%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header-text-content h1 {
    color: rgb(39, 39, 39);
    font-family: Lato;
    font-size: 80px;
    font-weight: 800;
    line-height: 96px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 100px;
    margin-bottom: 32px;
}
.header-text-content p {
    color: rgba(39, 39, 39, 0.6);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 0;
    margin-bottom: 32px;
}
.header-text-content button {
    width: 177px;
    height: 64px;
    padding: 20px 43px 20px 43px;
    border-radius: 8px;
    background: rgb(229, 84, 115);
    margin-top: 0;
    margin-bottom: 80px;
    border: none;
    color: rgb(255, 255, 255);
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}
.header-img-content {
    width: 37%;
    margin: 0;
    display: flex;
    align-items: flex-end;
}
.header-img-content img {
    width: 100%;
    height: 93%;
}
/* header section style ends here */

/* featured section style starts here */
.featured-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    margin-top: 100px;
}
.featured-container h1 {
    color: rgb(39, 39, 39);
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 0;
    margin-bottom: 24px;
}
.featured-container p {
    color: rgba(39, 39, 39, 0.6);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 0;
    margin-bottom: 48px;
}
.featured-items {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 0;
}
.featured-items p {
    color: rgb(39, 39, 39);
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0%;
    text-align: center;
    text-decoration-line: underline;
    margin-top: 32px;
    margin-bottom: 0;
}
.featured {
    width: 32%;
    height: auto;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.featured-card {
    width: 100%;
    height: 500px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}
.flex-end {
    align-items: flex-end;
}
.flex-center {
    align-items: center;
}
.featured-card-1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}
.featured-card-2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}
.featured-card-3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}
/* featured section style ends here */

/* service section style starts here */
.service-container {
    max-width: 1200px;
    height: 320px;
    margin: 0 auto;
    display: flex;
    padding: 0;
    margin-top: 100px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
}
.service-items {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.service-card {
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.service-card img {
    width: 88px;
    height: 88px;
}
.service-card p {
    color: rgba(39, 39, 39, 0.8);
    font-family: Lato;
    font-size: 22px;
    font-weight: 600;
    line-height: 35px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 0;
}
/* service section style ends here */

/* hot deal section style starts here */
.hot-deal-container {
    width: 100%;
    height: 550px;
    margin: 0 auto;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.hot-deal-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0;
    gap: 120px;
}
.hot-deal-text-content {
    width: 65%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hot-deal-text-content h1 {
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 24px;
}
span {
    color: #E55473;
}
.hot-deal-text-content p {
    color: rgba(39, 39, 39, 0.6);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 0;
    margin-bottom: 40px;
}
.hot-deal-text-content button {
    width: 155px;
    height: 64px;
    padding: 20px 43px 20px 43px;
    border-radius: 8px;
    background: rgb(229, 84, 115);
    margin-top: 0;
    border: none;
    color: rgb(255, 255, 255);
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}
.hot-deal-img-content {
    width: 35%;
    margin: 0;
    display: flex;
    align-items: flex-end;
}
.hot-deal-img-content img {
    width: 318px;
    height: 420px;
}
/* hot deal section style ends here */

/* instagram section style starts here */
.instagram-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.instagram-container h1 {
    color: rgb(39, 39, 39);
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 0;
    margin-bottom: 24px;
}
.instagram-container p {
    color: rgba(39, 39, 39, 0.6);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 0;
    margin-bottom: 48px;
}
.instagram-img-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0 auto;
}
.instagram-item {
    width: 282px;
    height: 336px;
    padding: 0;
    margin: 0;
}
.instagram-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* instagram section style ends here */

/* latest deal section style starts here */
.latest-deal-container {
    max-width: 1200px;
    height: 450px;
    margin: 0 auto;
    padding: 0;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-image: url('../images/rectangle9.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
    background-repeat: no-repeat;
}
.latest-deal-container h1 {
    color: rgb(39, 39, 39);
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 0;
    margin-bottom: 16px;
}
.latest-deal-container p {
    color: rgba(39, 39, 39, 0.6);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 0;
    margin-bottom: 45px;
}
.input-content {
    display: flex;
    margin: 0 auto;
    margin-top: 0;
    gap: 16px;
}
.input-content input {
    width: 500px;
    height: 64px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    border: none;
    padding: 0px 22px;
    color: rgba(39, 39, 39, 0.6);
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
}
.input-content button {
    width: 150px;
    height: 64px;
    border-radius: 8px;
    background: rgb(229, 84, 115);
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    border: none;
    color: rgb(255, 255, 255);
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
}
/* latest deal section style ends here */
